* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 1rem;
  margin-top: 6rem;
}

.card {
  border: 1px solid #E5E5E5;
  border-radius: 1rem;
  position: relative;
  background-color: white;

}

.avatar-wrapper {
  background: white;
  padding: 1rem;
  border: 1px solid #E5E5E5;
  border-radius: 10rem;
  height: 8rem;
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: -5rem;
  position: relative;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
          box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);


}

.avatar {
  height: 4rem;
  width: 4rem;
}

.org-details, .org-github-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.org-details > p{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

svg {
  padding-bottom: 1rem;
}


.org-github-details {
  margin-top: 1rem;
  padding: 3rem;
}

.org-github-details > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1.title, h1.org-title,h2.title, p.org-description {
  text-align: center;  
}

h1.org-title {
  color: #e74c3c;
  padding: 1rem;
}

small.loading-text {
  display: block;
  text-align: center;
  padding: 2rem;
}

.load-more-btn {
  margin: .5rem 2rem 2rem 2rem;
}

.contributor-avatar {
  border-radius: 80px;
  margin: .5rem;
}

label {
  display: block;
  padding: .4rem;
  margin: 1rem;
  text-align: center;
}

.form-control {
  margin: 2rem;
}

select {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 1rem;
  height: 3rem;
  font-size: 1rem;
  border: none;
  background-color: #f8f8f8;
}

.search-filter-area, .repository-section {
  margin-top: 1rem;
}

.search-btn, .load-more-btn {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 3rem;
  background-color: white;
  color: #3498db;
  border: 2px solid #3498db;
  font-size: 1rem;
  border-radius: 2rem;
}

.search-btn:hover, .load-more-btn:hover {
  background-color: #3498db;
  color: white;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
       -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.repo-name {
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  word-wrap: break-word;
}

.repo-description {
  text-align: center;
  padding: 1rem;
}

.repo-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.repo-details > p{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6em;
  width: 6rem;
}

hr {
  border: 1px dashed #E5E5E5;
}

.org-github-details > .org-detail {
  display: none;
}

.modal {
  display: block; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  -webkit-animation-name: fadeIn; 
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #34495e;
  color: white;
  text-align: center;
}

.modal-body {
  padding: 2px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

.ctrs-btn {
  display: block;
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: .5rem;
  background-color: #34495e;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}

.change-btn {
  display: block;
  margin: auto; 
}


@media only screen and (min-width: 992px) {

  .org-details, .org-github-details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .repository-section {
    margin: 1rem;
  }

  .repository-section > .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 25% 100px auto;
    grid-template-rows: 25% 100px auto;
    

  }
  .respositories-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  
  .org-details {
    display: none;
  }

  .org-github-details > .org-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .org-github-details {
    display: -ms-grid;
    display: grid;
    grid-auto-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }

}

