h1.title {
  text-align: center;
}

small.loading-text {
  display: block;
  text-align: center;
}

section.organisation-section, section.repositories-section {
  padding-left: 2rem;
}
.load-more-btn {
  margin: .5rem 2rem 2rem 2rem;
}